* {
    outline: solid red;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bodyCalculator {
    flex: 1;
    background-color: black;
    width: 60%;
    height: 75%;
    margin: 35%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.display {
    background-color: white;
    width: 80%;
    height: 10%;
    align-self: top;
}

.comandos {
    background-color: red;
    width: 80%;
    height: 60%;
    display: flex;
}

.numeros {
    background-color: blue;
    width: 80%;
}

.operators {
    background-color: purple;
    width: 20%;
}